.cart-details{
    display: flex;
    justify-content: space-between;
}

.cross-sells{
    background-color: #edf3f4;
    width: 55%;
    margin-right: 30px;
}

.related-books{
    display: flex;
    flex-wrap: wrap;
}

.shipping-totals{
    background-color: #fff
}
.cart-total-shipping{
    width: 45%;
}